@using Weather.Extensions

<script>
    function LoadList() {
        $("#listPartial").html();

        $.ajax({
            url: '@Url.Action("WeatherView", "Weather")',
            type: 'GET',
            data: { },
            success: function(result) {
                $("#listPartial").html(result);
            },
            complete: function () {
            }
        });
    }
    $(document).ready(function() {
        LoadList();
    });
</script>

<div class="card shadow mb-4">
    <div class="card-body">
        <div style="text-align:center">
            <span class="font-weight dates">
                Выбор диапазона дат:
            </span>
            <span class="font-weight dates">
                от
            </span>
            <input class="calendars" type="text" id="start_date" placeholder="Пожалуйста, выберите дату"
                   value="@(DateTime.UtcNow.AddDays(-30).AddHours(4).DateTimeToString("dd.MM.yyyy HH:mm:ss"))" onchange="WeatherUpdate()" data-input>

            <span class="font-weight dates">
                до
            </span>
            <input class="calendars" type="text" id="end_date" placeholder="Пожалуйста, выберите дату"
                   value="@(DateTime.UtcNow.AddHours(4).DateTimeToString("dd.MM.yyyy HH:mm:ss"))" onchange="WeatherUpdate()" data-input>
        </div>
    </div>
</div>

<div id="listPartial" class="listPartial"></div>