<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.js"></script>
</head>


<div class="sidebar-container">

</div>

<div class="content-container">

    <div class="container-fluid">

        <div id="res"></div>
        @RenderBody()

    </div>

</div>