<!DOCTYPE html>
<head>
    <title>@ViewData["Title"]Погода</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.js"></script>

    <link rel="stylesheet" href="~/node_modules/flatpickr/dist/flatpickr.min.css">
    <script src="~/node_modules/flatpickr/dist/flatpickr.min.js"></script>
    <script src="~/node_modules/flatpickr/dist/l10n/ru.js"></script>

    <link href="~/node_modules/datatables/media/css/jquery.dataTables.css" rel="stylesheet" />
    <script src="~/node_modules/datatables/media/js/jquery.dataTables.js"></script>
</head>

<div class="sidebar-container">
    <div class="sidebar-logo"> Погода </div>

    <ul class="sidebar-navigation">

        <li>
            <a asp-controller ="Weather" asp-action="Index">
                <i class="fa fa-history" aria-hidden="true"></i> Исторические данные
            </a>
        </li>

    </ul>

</div>

<div class="content-container">

    <div class="container-fluid">

        <div id="res"></div>
        @RenderBody()

    </div>

    @RenderSection("Scripts", required: false)
</div>

<script>
    function initTable(div_id, paging = true, info = true, searching = true, ordering = true, fixedHeader = true, additionalOpt = undefined, language = undefined)
    {
        var table = $("body").find('#' + div_id);
        table.addClass("table-sm display no-wrap table-hover");
        table.attr("width", "100%");

        var language_opt_default = {
            "processing": "Подождите...",
            "search": "Поиск:",
            "lengthMenu": "Показать _MENU_ записей",
            "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
            "infoEmpty": "Записи с 0 до 0 из 0 записей",
            "infoFiltered": "(отфильтровано из _MAX_ записей)",
            "infoPostFix": "",
            "loadingRecords": "Загрузка записей...",
            "zeroRecords": "Записи отсутствуют.",
            "emptyTable": "В таблице отсутствуют данные",
            "paginate": {
                "first": "Первая",
                "previous": "Пред.",
                "next": "След.",
                "last": "Посл."
            },
            "aria": {
                "sortAscending": ": активировать для сортировки столбца по возрастанию",
                "sortDescending": ": активировать для сортировки столбца по убыванию"
            }
        };
        var language_opt = Object.assign({}, language_opt_default, language);

        var opt = {
            "pageLength": 20,
            'ordering': ordering,
            'info': info,
            'searching': searching,
            fixedHeader: {
                header: fixedHeader,
                footer: fixedHeader
            },
            responsive: true,
            select: 'single',
            "language": "ru" == "ru" ? language_opt : "",

            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }],

            destroy: true
        }

        if (additionalOpt !== undefined) {
            opt = Object.assign({}, opt, additionalOpt);
        }

        table.DataTable(opt);
        window[div_id] = table;
    }
</script>